<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-lg-10">
            <h4><i class="far fa-edit"></i> Editar Trazabilidad</h4>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-outline-danger w-100" (click)="irAtras()">
                <i class="fas fa-times"></i> Salir
            </button>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-lg-12">
            <form #formTrazabilidadUp="ngForm" id="formTrazabilidadUp">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 mb-3">
                            <label>Evaluador:</label>
                            <select class="form-select" name="ideva" #idevalu="ngModel"
                                [(ngModel)]="trazabilidad.IDEVALUADOR">
                                <option *ngFor="let x of evaluadores" [value]="x.IDEVALUADOR">{{x.NOMBRES}}</option>
                            </select>
                            <div class="error-input rounded" *ngIf="valuadorEstado == true">
                                <small>Campo requerido!!</small>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <label>Semana:</label>
                            <input type="text" class="form-control" name="semana" #semana="ngModel" maxlength="3"
                                pattern="[0-9]+" [(ngModel)]="trazabilidad.SEMANA">
                            <div class="error-input rounded" *ngIf="semanaEstado == true">
                                <small>Campo requerido!!</small>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-3">
                            <label>Exportadora:</label>
                            <select class="form-select" name="idexportadora" #idexportadora="ngModel"
                                [(ngModel)]="trazabilidad.IDEXPORTADORA">
                                <option *ngFor="let x of exportadoras" [value]="x.IDEXPORTADORA">{{x.NOMBRE}}
                                </option>
                            </select>
                            <div class="error-input rounded" *ngIf="exportadoraEstado == true">
                                <small>Campo requerido!!</small>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <label>Porcentaje Higiene:</label>
                            <input type="text" class="form-control" name="porcentaje" #porcentaje="ngModel"
                                maxlength="3" pattern="[0-9]+" [(ngModel)]="trazabilidad.PORCENTAJEHIGIENE"
                                placeholder="100/100">
                            <div class="error-input rounded" *ngIf="porcentajeHigieneEstado == true">
                                <small>Campo requerido!!</small>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <label>Calif. evaluador:</label>
                            <input type="text" class="form-control" name="califi" #califi="ngModel" maxlength="2"
                                pattern="[0-9]+" [(ngModel)]="trazabilidad.CALIFICACIONEVALUADOR" placeholder="10/10">
                            <div class="error-input rounded" *ngIf="calificacionEstado == true">
                                <small>Campo requerido!!</small>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <b>Total de cajas: </b> {{trazabilidad.CANTIDADCAJAS}}
                        </div>
                    </div>
                    <div class="text-end">
                        <button class="btn btn-info" (click)="actualizar()">Actualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <hr>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">LOTE</th>
                    <th scope="col">CAJAS</th>
                    <th scope="col">OBSERVACIÓN</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of detalles; let i = index">
                    <td>{{x.NOMBRELOTE}}</td>
                    <td>{{x.CANT_CAJAS}}</td>
                    <td><small>{{x.OBSERVACION}}</small></td>
                    <td>
                        <button class="btn btn-outline-primary"
                            (click)="getOneDetalle(x.IDDETALLE, x.CANT_CAJAS, x.OBSERVACION)" data-bs-toggle="modal"
                            data-bs-target="#editDetalleModal">
                            <i class="far fa-edit"></i>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>


<div class="modal fade" id="editDetalleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class="far fa-edit"></i> Actualizar detalle
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="p-3">
                    <label>Cantidad de cajas:</label>
                    <input type="text" class="form-control" name="cajas" #cajas="ngModel"
                        [(ngModel)]="detalle.CANT_CAJAS" required>

                    <br>

                    <label>Observación:</label>
                    <textarea class="form-control" name="observacion" #observacion="ngModel"
                        [(ngModel)]="detalle.OBSERVACION"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="actualiazarDetalle()">Actualizar</button>
            </div>
        </div>
    </div>
</div>